main {
    width: 100%;
    padding: 4%;

    @media screen and (min-width: 768px) {
        padding: 8%
    }

    h1 {
        font-weight: 400;
        font-size: 72px;
        text-align: right;
        text-transform: lowercase;
        letter-spacing: -0.77rem;
        border-bottom: 1px solid #333;
        line-height: .8;

        @media screen and (min-width: 768px) {
            font-size: 96px;
        }
    }

    article {
        margin: 4% 0;
        display: flex;

        aside {
            flex-basis: 33%;
            display: none;

            @media screen and (min-width: 768px) {
                display: block
            }
        }

        section {
            font-size: 24px;

            p {
                margin: 0 0 1rem;
            }
        }
    }
}